<form action="" class="app__form">
  <div class="input-group">
    <label class="is-txt-gray-light is-txt-medium">Moeda local</label>
    <select name="" id="" class="select-custom">
      <option value="BRL">BRL</option>
      <option value="BRL">BRL</option>
      <option value="BRL">BRL</option>
    </select>
  </div>
  <div class="input-group">
    <label class="is-txt-gray-light is-txt-medium">Moeda de conversão</label>
    <select name="" id="" class="select-custom">
      <option value="EUR">EUR</option>
      <option value="EUR">EUR</option>
      <option value="EUR">EUR</option>
    </select>
  </div>
  <div class="input-group">
    <label class="is-txt-gray-light is-txt-medium">Valor da conversão</label>
    <input type="text" placeholder="Insira o valor para conversão. Ex: 10">
  </div>
  <div class="input-group btn-group">
    <button class="btn btn-lg btn-green-light is-txt-medium" type="submit">Converter</button>
  </div>
  <div class="app__form--result input-group">
    <label class="is-txt-gray-dark is-txt-medium text-center">O valor da conversão é</label>
    <span class="is-txt-green-light is-txt-medium text-center">2.2674</span>
  </div>
  <div class="app__form--options input-group mb-0">
    <span class="is-txt-green-light">Inverter conversão</span>
    <span class="is-txt-gray-light">Limpar conversão</span>
  </div>
</form>